
*{
    margin: 0;
    left: 0;
}



::placeholder{
    font-size: 20px;
    color: #4a4a4a;
}


.form-group input {
    width: 96% !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: transparent;
    padding: 20px !important;
    margin-left: 20px;
    /* box-sizing: border-box;
    box-shadow: -4px -4px 10px rgba(255,255,255,1),
inset 4px 4px 10px rgba(0,0,0,0.05),
inset -4px -4px 10px rgba(255,255,255,1),
4px 4px 10px rgba(0,0,0,0.05); */
}
button.btn.btn-block.btn-success.w-100.p-3.mt-3 {
    width: 96% !important;
    margin-left: 20px !important;
}
#ms {
    position: absolute;
    left: 3%;
    top: 54%;
}
a#button {
    text-decoration: none;
    text-align: center;
    display: inherit;
    background: green;
    color: #fff;
    padding: 15px 20px 15px 20px;
    margin: auto;
    width: 96%;
    border-radius: 5px;
    font-size: 30px;
}
#pt {
    position: absolute;
    top: 33%;
    left: 18px;
}
#h2{}
#pb{}

.form-group #eye1 {
    position: absolute;
    top: 41%;
    left: 92%;
    font-size: 20px;
    cursor: pointer;
}

.form-group #eye2 {
    position: absolute;
    top: 65%;
    left: 92%;
    font-size: 20px;
}
#mss {
   margin-left: 25px;
}